<!-- Breadcrumb Section -->
<section class="component-section">
  <h2>Breadcrumb Home</h2>
  <div class="demo-row">
    <!-- Breadcrumb  -->
    <bds-breadcrumb [home]="{ icon: 'home', label: 'Inicio', routerLink: '/' }"> </bds-breadcrumb>
  </div>
  <h2>Breadcrumb Home / Items</h2>
  <div class="demo-row">
    <!-- Breadcrumb  -->
    <bds-breadcrumb [home]="{ icon: 'home', label: 'Inicio', routerLink: '/' }" [items]="items()"> </bds-breadcrumb>
  </div>
  <h2>Breadcrumb Home / Items Text</h2>
  <div class="demo-row">
    <!-- Breadcrumb  -->
    <bds-breadcrumb [home]="{ icon: 'home', label: 'Inicio', routerLink: '/' }" [items]="itemsText()"> </bds-breadcrumb>
  </div>
  <h2>Breadcrumb Items (Icons)</h2>
  <div class="demo-row">
    <!-- Breadcrumb  -->
    <bds-breadcrumb [items]="itemsIcons()"> </bds-breadcrumb>
  </div>
  <h2>Breadcrumb Links</h2>
  <div class="demo-row">
    <!-- Breadcrumb  -->
    <bds-breadcrumb [items]="itemsLinks()"> </bds-breadcrumb>
  </div>
  <h2>Breadcrumb Separator</h2>
  <div class="demo-row">
    <!-- Breadcrumb  -->
    <bds-breadcrumb [items]="itemsText()" [separator]="'>'"> </bds-breadcrumb>
  </div>
</section>
