<!-- Buttons Section -->
<section class="component-section">
  <h2>Chip Dropdown</h2>
  <div class="demo-row">
    <bds-chip-dropdown [options]="optionsSelect()" label="Tipo" placeholder="Tipo"></bds-chip-dropdown>
    <bds-chip-dropdown [options]="optionsSelect()" label="Tipo" placeholder="Tipo"></bds-chip-dropdown>
    <bds-chip-dropdown [options]="optionsSelect()" label="Tipo" placeholder="Tipo" labelIcon="home"></bds-chip-dropdown>
  </div>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
