<section class="component-section">
  <h2>Progress Bar</h2>
  <div class="demo-row">
    <bds-progress-bar [percent]="80"></bds-progress-bar>
    <!-- <bds-progress-bar [percent]="50" [strokeWidth]="8"></bds-progress-bar>
    <bds-progress-bar [percent]="20" [animation]="true"></bds-progress-bar>
    <bds-progress-bar [percent]="20" [animation]="true" [strokeWidth]="8"></bds-progress-bar>
    <bds-progress-bar [percent]="50" [activeColor]="'#e61616'" [inactiveColor]="'#ddd'" [strokeWidth]="8"></bds-progress-bar>
    <bds-progress-bar [percent]="porcentaje()"></bds-progress-bar> -->
  </div>
</section>
