<!-- Stepper Section -->
<section class="component-section">
  <h2>Stepper</h2>
  <div class="demo-row">
    <bds-stepper [steps]="steps" [(activeIndex)]="activeIndex" [linear]="false" orientation="vertical" (stepChange)="onStepChange($event)">
      <!-- PASO 0 -->
      <ng-template bdsStepContent="0">
        <section class="step-content">
          <h2>Datos básicos</h2>
          <p>Ingresa la información principal del proyecto.</p>
          <form class="demo-row">
            <bds-textarea label="Nombre del proyecto" [rows]="1"></bds-textarea>
            <bds-select [label]="'Categoría'" [options]="optionsSelect()"></bds-select>
          </form>
        </section>
      </ng-template>

      <!-- PASO 1 -->
      <ng-template bdsStepContent="1">
        <section class="step-content">
          <h2>Documentos</h2>
          <p>Adjunta los archivos requeridos.</p>
          <bds-button label="Continuar" variant="filled" size="md" (action)="activeIndex = 2"></bds-button>
        </section>
      </ng-template>

      <!-- PASO 2 -->
      <ng-template bdsStepContent="2">
        <section class="step-content">
          <h2>Confirmación</h2>
          <p>Revisa la información antes de finalizar.</p>

          <ul>
            <li><strong>Proyecto:</strong> {{ projectName }}</li>
            <li><strong>Categoría:</strong> {{ category }}</li>
          </ul>

          <div class="actions">
            <bds-button label="Volver" variant="filled" size="md" (action)="activeIndex = 1"></bds-button>
            <bds-button label="Finalizar" variant="filled" size="md"></bds-button>
          </div>
        </section>
      </ng-template>
    </bds-stepper>
  </div>
</section>
