<!-- Snackbar -->
<section class="component-section">
  <h2>Snackbar A single instance</h2>
  <div class="demo-row">
    <bds-button label="Open Snackbar default" variant="filled" (action)="openSnackbarDefault()"></bds-button>
    <bds-button label="Open Snackbar info" variant="filled" (action)="openSnackbarInfo()"></bds-button>
    <bds-button label="Open Snackbar success" variant="filled" (action)="openSnackbarSuccess()"></bds-button>
    <bds-button label="Open Snackbar warning" variant="filled" (action)="openSnackbarWarning()"></bds-button>
    <bds-button label="Open Snackbar error" variant="filled" (action)="openSnackbarError()"></bds-button>
    <bds-button label="Open Snackbar long" variant="filled" (action)="openSnackbarLong()"></bds-button>
  </div>
  <h2>Snackbar Stacked</h2>
  <div class="demo-row">
    <bds-button label="Open Snackbar default" variant="filled" (action)="openSnackbarDefaultStacked()"></bds-button>
    <bds-button label="Open Snackbar info" variant="filled" (action)="openSnackbarInfoStacked()"></bds-button>
    <bds-button label="Open Snackbar success" variant="filled" (action)="openSnackbarSuccessStacked()"></bds-button>
    <bds-button label="Open Snackbar warning" variant="filled" (action)="openSnackbarWarningStacked()"></bds-button>
    <bds-button label="Open Snackbar error" variant="filled" (action)="openSnackbarErrorStacked()"></bds-button>
    <bds-button label="Open Snackbar long" variant="filled" (action)="openSnackbarLongStacked()"></bds-button>
  </div>
</section>
