<!-- Tabs -->
<section class="component-section">
  <h2>Tabs</h2>
  <div style="display: block; border: 1px solid #ccc; border-radius: 8px; padding: 1rem">
    <bds-tabs [optionsNavTabs]="optionsTabs()" [animationDuration]="'300ms'"></bds-tabs>

    <!-- Custom Templates -->
    <ng-template #contentTab1 let-context>
      <div class="content-tab" style="padding: 1rem">
        <p>Content Tab 1</p>
      </div>
    </ng-template>
    <ng-template #contentTab2 let-context>
      <div class="content-tab" style="padding: 1rem">
        <p>Content Tab 2</p>
      </div>
    </ng-template>
    <ng-template #contentTab3 let-context>
      <div class="content-tab" style="padding: 1rem">
        <p>Content Tab 3</p>
      </div>
    </ng-template>
  </div>

  <div style="display: block; border: 1px solid #ccc; border-radius: 8px; padding: 1rem">
    <bds-tabs [optionsNavTabs]="optionsTabsIcons()"></bds-tabs>
  </div>

  <div style="display: block; border: 1px solid #ccc; border-radius: 8px; padding: 1rem">
    <bds-tabs [optionsNavTabs]="optionsTabsDraggable()" animationDuration="0ms" [draggableTabs]="true"></bds-tabs>
  </div>

  <div style="display: block; border: 1px solid #ccc; border-radius: 8px; padding: 1rem">
    <bds-tabs [optionsNavTabs]="optionsTabsDisabled()"></bds-tabs>
  </div>

  <div style="display: block; border: 1px solid #ccc; border-radius: 8px; padding: 1rem">
    <bds-tabs [optionsNavTabs]="optionsTabsIcons()" [stretchTabs]="true"></bds-tabs>
  </div>

  <div style="display: block; border: 1px solid #ccc; border-radius: 8px; padding: 1rem">
    <bds-tabs [optionsNavTabs]="optionsTabs()" [alignTabs]="'center'"></bds-tabs>
    <!-- Custom Templates -->
    <ng-template #contentTab1 let-context>
      <div class="content-tab" style="padding: 1rem">
        <p>Content Tab 1</p>
      </div>
    </ng-template>
    <ng-template #contentTab2 let-context>
      <div class="content-tab" style="padding: 1rem">
        <p>Content Tab 2</p>
      </div>
    </ng-template>
    <ng-template #contentTab3 let-context>
      <div class="content-tab" style="padding: 1rem">
        <p>Content Tab 3</p>
      </div>
    </ng-template>
  </div>

  <div style="display: block; border: 1px solid #ccc; border-radius: 8px; padding: 1rem">
    <bds-tabs [optionsNavTabs]="optionsTabsIcons()" [alignTabs]="'end'"></bds-tabs>
  </div>

  <div style="display: block; border: 1px solid #ccc; border-radius: 8px; padding: 1rem">
    <bds-tabs [optionsNavTabs]="optionsTabs()" [primaryTabs]="false"></bds-tabs>
    <!-- Custom Templates -->
    <ng-template #contentTab1 let-context>
      <div class="content-tab" style="padding: 1rem">
        <p>Content Tab 1</p>
      </div>
    </ng-template>
    <ng-template #contentTab2 let-context>
      <div class="content-tab" style="padding: 1rem">
        <p>Content Tab 2</p>
      </div>
    </ng-template>
    <ng-template #contentTab3 let-context>
      <div class="content-tab" style="padding: 1rem">
        <p>Content Tab 3</p>
      </div>
    </ng-template>
  </div>

  <div style="display: block; border: 1px solid #ccc; border-radius: 8px; padding: 1rem">
    <bds-tabs [optionsNavTabs]="optionsTabsIcons()" [primaryTabs]="false"></bds-tabs>
  </div>
</section>
