<!-- Smart Stepper Section -->
<section class="component-section">
  <h2>Smart Stepper</h2>
  <div class="demo-row">
    <bds-smart-stepper [steps]="steps" [allowInvalidAdvance]="true" [(activeIndex)]="activeIndex"
      [(activeIndexSubStep)]="activeIndexSubStep" [linear]="true" (stepChange)="onStepChange($event)"
      (subStepClick)="onSubStepChange(undefined, $event)">
      <!-- PASO 0 -->
      <ng-template bdsStepContent="0">
        <mat-stepper class="bds-smart-stepper__inner-stepper" (selectionChange)="onSubStepChange($event)"
          [selectedIndex]="activeIndexSubStep" linear #stepper>
          <mat-step [stepControl]="activoFullInfo.get('ubicacionYRegistro')!">
            <ng-template matStepLabel>Ubicacion</ng-template>
            <div class="bds-smart-stepper__inner-stepper__container" style="padding: 1rem" [formGroup]="activoFullInfo">
              <ng-container formGroupName="ubicacionYRegistro">
                @for (panel of getUbicacionPanels(); track panel; let first = $first) {
                <div class="bds-smart-stepper__inner-stepper__container__form">
                  @for (field of panel.fields; track field) {
                  <div class="expansion-panel__container__full-info__field">
                    <bds-form-field class="bds-smart-stepper__inner-stepper__container__form__input"
                      [label]="field.label" [fullWidth]="true" [formControlName]="field.name"></bds-form-field>
                  </div>
                  }
                </div>
                }
              </ng-container>
            </div>
          </mat-step>
        </mat-stepper>
      </ng-template>
      <ng-template bdsStepContent="1">
        <div class="bds-smart-stepper__inner-stepper__container" style="padding: 1rem" [formGroup]="activoFullInfo">
          <ng-container formGroupName="proyectoGestion">
            @for (panel of getProyectoPanels(); track panel; let first = $first) {
            <ng-container [formGroupName]="panel.groupName">
              <div class="bds-smart-stepper__inner-stepper__container__form">
                @for (field of panel.fields; track field) {
                <div class="expansion-panel__container__full-info__field">
                  <bds-form-field class="bds-smart-stepper__inner-stepper__container__form__input" [fullWidth]="true"
                    [label]="field.label" [formControlName]="field.name"></bds-form-field>
                </div>
                }
              </div>
            </ng-container>
            }
          </ng-container>
        </div>
      </ng-template>
      <ng-template bdsStepContent="2">
        <div class="bds-smart-stepper__inner-stepper__container" style="padding: 1rem" [formGroup]="activoFullInfo">
          <ng-container formGroupName="equipoYAvaluo">
            @for (panel of getEquipoPanels(); track panel; let first = $first) {
            <ng-container [formGroupName]="panel.groupName">
              <div class="bds-smart-stepper__inner-stepper__container__form">
                @for (field of panel.fields; track field) {
                <div class="expansion-panel__container__full-info__field">
                  <bds-form-field class="bds-smart-stepper__inner-stepper__container__form__input" [fullWidth]="true"
                    [label]="field.label" [formControlName]="field.name"></bds-form-field>
                </div>
                }
              </div>
            </ng-container>
            }
          </ng-container>
        </div>
      </ng-template>
      <ng-template bdsStepContent="3">
        <div class="bds-smart-stepper__inner-stepper__container" style="padding: 1rem" [formGroup]="activoFullInfo">
          <ng-container formGroupName="redYEstructura">
            @for (panel of getRedPanels(); track panel; let first = $first) {
            <ng-container [formGroupName]="panel.groupName">
              <div class="bds-smart-stepper__inner-stepper__container__form">
                @for (field of panel.fields; track field) {
                <div class="expansion-panel__container__full-info__field">
                  <bds-form-field class="bds-smart-stepper__inner-stepper__container__form__input" [fullWidth]="true"
                    [label]="field.label" [formControlName]="field.name"></bds-form-field>
                </div>
                }
              </div>
            </ng-container>
            }
          </ng-container>
        </div>
      </ng-template>
    </bds-smart-stepper>
  </div>
</section>
