<section class="component-section">
  <h2>Progress Circular stroke-width 4.5</h2>
  <div class="demo-row">
    <bds-progress-circular [percent]="currentPercent()" [strokeWidth]="4.5"></bds-progress-circular>
  </div>
  <h2>Progress Circular stroke-width 9</h2>
  <div class="demo-row">
    <bds-progress-circular [percent]="currentPercent()" [strokeWidth]="9"></bds-progress-circular>
  </div>
  <h2>Progress Circular animation</h2>
  <div class="demo-row">
    <bds-progress-circular [percent]="currentPercent()" [animation]="true" [strokeWidth]="9"></bds-progress-circular>
  </div>

  <h2>Progress Circular size sm</h2>
  <div class="demo-row">
    <bds-progress-circular [percent]="currentPercent()" [animation]="true" [strokeWidth]="9" [size]="'sm'"></bds-progress-circular>
  </div>
  <h2>Progress Circular size md</h2>
  <div class="demo-row">
    <bds-progress-circular [percent]="currentPercent()" [animation]="true" [strokeWidth]="9" [size]="'md'"></bds-progress-circular>
  </div>
  <h2>Progress Circular size lg</h2>
  <div class="demo-row">
    <bds-progress-circular [percent]="currentPercent()" [animation]="true" [strokeWidth]="9" [size]="'lg'"></bds-progress-circular>
  </div>
  <h2>Progress Circular size xl</h2>
  <div class="demo-row">
    <bds-progress-circular [percent]="currentPercent()" [animation]="true" [strokeWidth]="9" [size]="'xl'"></bds-progress-circular>
  </div>
</section>
