<!-- Radiobutton -->
<section class="component-section">
  <h2>Radio Button</h2>
  <div class="demo-row">
    <bds-radiobutton [ariaLabel]="'Radio Button 1'" [options]="optionsRadio()"></bds-radiobutton>
  </div>
  <div class="demo-row">
    <bds-radiobutton [ariaLabel]="'Radio Button 2'" [options]="optionsRadio()" [label]="'Label'"></bds-radiobutton>
  </div>
  <div class="demo-row">
    <bds-radiobutton [ariaLabel]="'Radio Button 3'" [options]="optionsRadio()" [label]="'Disabled'" [disabled]="true"></bds-radiobutton>
  </div>
  <div class="demo-row">
    <bds-radiobutton [ariaLabel]="'Radio Button 4'" [options]="optionsRadio()" [label]="'Column'" [column]="false"></bds-radiobutton>
  </div>
  <div class="demo-row">
    <bds-radiobutton
      [ariaLabel]="'Radio Button 5'"
      [options]="optionsRadio()"
      [label]="'Column'"
      [positionLabel]="'before'"
    ></bds-radiobutton>
  </div>
  <div class="demo-row">
    <bds-radiobutton [ariaLabel]="'Radio Button 5'" [options]="optionsRadio()" [label]="'Value'" [value]="'one'"></bds-radiobutton>
  </div>
  <div class="demo-row">
    <bds-radiobutton
      [ariaLabel]="'Radio Button 6'"
      [options]="optionsRadio()"
      [label]="'Change'"
      (change)="onRadioInput($event)"
    ></bds-radiobutton>
    <p style="margin-left: 10px">Value radio: {{ valueRadio() }}</p>
  </div>
</section>
