.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  margin-bottom: 24px;
}

.app-content {
  box-sizing: border-box;
  gap: 24px;

  padding-bottom: 2rem;
}
