<!-- Form -->
<section class="component-section">
  <h2>Form</h2>
  <div class="demo-row">
    <form [formGroup]="formTesting" (ngSubmit)="onSubmitForm()" class="form-container">
      <bds-form-field
        [label]="'email'"
        [placeholder]="'example@example.com'"
        [type]="'email'"
        prefixIcon="email"
        [required]="true"
        formControlName="email"
      ></bds-form-field>
      <bds-form-field
        [label]="'password'"
        [placeholder]="'******'"
        [type]="'password'"
        prefixIcon="lock"
        [required]="true"
        formControlName="password"
      ></bds-form-field>
      <bds-autocomplete
        [label]="'autocomplete'"
        [prefixIcon]="'home'"
        [options]="optionsAutocomplete()"
        [required]="true"
        formControlName="autocomplete"
      ></bds-autocomplete>
      <bds-autocomplete
        [label]="'autocompleteGroupImg'"
        prefixIcon="home"
        [options]="optionsAutocompleteGroupImg()"
        [required]="true"
        formControlName="autocompleteGroupImg"
      ></bds-autocomplete>
      <bds-select [label]="'select'" [options]="optionsSelect()" [required]="true" formControlName="select"></bds-select>
      <bds-select
        [label]="'selectGroupImg'"
        [options]="optionsSelectGroupImg()"
        [required]="true"
        formControlName="selectGroupImg"
      ></bds-select>
      <bds-select
        [label]="'Seleccion Multiple'"
        [multiple]="true"
        [options]="optionsSelect()"
        [required]="true"
        formControlName="selectMultiple"
      ></bds-select>
      <bds-select
        [label]="'Seleccion Multiple Group'"
        [multiple]="true"
        [options]="optionsSelectGroup()"
        [required]="true"
        formControlName="selectMultipleGroup"
      ></bds-select>
      <bds-datepicker
        [label]="'fechaNacimiento'"
        prefixIcon="calendar"
        [required]="true"
        formControlName="fechaNacimiento"
      ></bds-datepicker>
      <bds-radiobutton [ariaLabel]="'Sexo'" [options]="groupSexo()" [required]="true" formControlName="sexo"></bds-radiobutton>
      <div formArrayName="hobbies">
        @for (item of listHobbies(); track $index) {
        <bds-checkbox [label]="item.label + ''" [formControlName]="$index"></bds-checkbox>
        }
      </div>
      <bds-textarea [label]="'descripcion'" prefixIcon="description" [required]="true" formControlName="descripcion"></bds-textarea>

      <div class="container-btn">
        <bds-button [fullWidth]="true" label="Enviar" variant="filled" type="submit"></bds-button>
      </div>
    </form>
  </div>
</section>
